<section class="container">
  <h2 class="capitalize font-bold text-green-700 text-center text-2xl mt-14">
    all brands
  </h2>
  <div
    class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-1 gap-10 top-10 relative mb-12"
  >
    @for (brand of brandslist ; track brand._id) {

    <div
      class="card border border-gray-300 rounded-lg shadow-sm cursor-pointer"
    >
      <div class="">
        <img
          class="rounded-t-lg w-full"
          [src]="brand.image"
          [alt]="brand.name"
        />
      </div>
      <div class="body font-thin text-gray-600 text-center text-xl p-5">
        <h3>{{ brand.name }}</h3>
      </div>
    </div>

    }
  </div>
</section>
