 <div class="border  border-gray-400/50 rounded-md overflow-hidden shadow-lg relative group/card cursor-pointer">
    <div  [routerLink]="['/details',product.slug,product.id]">
        <div class="card-img">
        <img [src]="product.imageCover" class="w-full h-[300px]" [alt]="product.title" />
        </div>
        <div class="card-body px-2 py-4" >
            <h4 class="text-green-500 text-xs">{{product.category.name | onSale : 3}}</h4>
            <h3 class="font-medium">{{product.title |onSale:3}}</h3>
            <div class="flex justify-between items-center">
            <span>{{product.price}} EGP</span>
            <div class="flex items-center">
                <i class="fas fa-star text-yellow-300"></i>
                <span class="text-gray-500">{{product.ratingsQuantity}}</span>
            </div>
            </div>
        </div>
    </div>
    <button (click)="addproductItemTOCart(product._id)"  class="btn  translate-y-[120%] group-hover/card:translate-y-0 "  type="submit">Add To Cart</button>   
</div>
